<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="MyModuleTwoApp.Android" android:theme="@style/MainTheme">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="MyModuleTwoApp.Android.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>